.headerContainer {
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding-right: 5%;

    font-size: 25px;
    text-transform: uppercase;
    color: #00FAA8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-right: 2%;
    align-items: flex-end;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

i {
    margin-bottom: 5%;
}

.loginButton {
    background-color: #00FAA8;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}
