<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<div class="headerContainer">
    <img class="logo" src="../../../assets/workpro_logo.png" alt="Logotipo WorkPro" routerLink="/" routerLinkActive="true">
    <div class="pages">
        <a routerLink="" routerLinkActive="true"><i class="bi bi-house-fill"></i> Início</a>
        <a routerLink="/resume" routerLinkActive="true"><i class="bi bi-file-earmark-person-fill"></i> Currículos</a>
        <a routerLink="/jobs" routerLinkActive="false"><i class="bi bi-newspaper"></i> Vagas</a>
        <a routerLink="/network" routerLinkActive="false"><i class="bi bi-globe2"></i> Rede</a>
        <a routerLink="/profile" routerLinkActive="true"><i class="bi bi-person-fill"></i> Perfil</a>
    </div>
</div>
<hr>
