.vacancyContainer {
    border: 2px solid black;
    border-radius: 25px;
    padding: 2%;
    width: 65%;
    margin: 2% 0;
}

.title {
    font-size: 35px;
    margin-bottom: 1%;
    color: #00FAA8;
}

.vacancyInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.entName {
    font-size: 22px;
    margin: 0;
}

.pipe {
    margin: 0;
    font-size: 18px;
}

.wage {
    font-size: 18px;
    margin: 0;
}

.description {
    margin: 5% 0;
    width: 100%;
    text-align: justify;
    font-size: 25px;
}