<div class="profileContainer">
    <div class="loginContainer" *ngIf="cadastroFlag === false">
        <div class="loginForm">
            <h1 class="title">Acesse sua conta da WorkPro!</h1>
            <div class="loginInputs">
                <input class="defaultInput" type="email" placeholder="Email">
                <input class="defaultInput" type="password" placeholder="Senha">
            </div>
            <button class="createButton">Acessar conta</button>
            <p class="createAccount">Não possui conta? <a (click)="inverteFlag()">Cadastre-se aqui!</a></p>
        </div>
    </div>
    <div class="cadastroContainer" *ngIf="cadastroFlag === true">
        <div class="cadastroForm">
            <i class="bi bi-arrow-90deg-left" (click)="inverteFlag()"></i>
            <h1 class="title">Crie hoje sua conta na WorkPro!</h1>
            <div class="nomeSobrenome">
                <input class="smallInput" type="text" placeholder="Nome">
                <input class="smallInput" type="text" placeholder="Sobrenome">
            </div>
            <input class="defaultInput" type="email" placeholder="Email">
            <input class="defaultInput" type="password" placeholder="Senha">
            <button class="createButton">Criar conta</button>
        </div>
        <img class="cadastroImage" src="../../../assets/business_man_red.jpg" alt="">
    </div>
</div>
