.postContainer {
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 20px;

    border: solid 2px black;
    margin-bottom: 5%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profilePic {
    height: 50px;
    border: solid 2px #00FAA8;
    border-radius: 50%;
}

.textInput {
    border: solid 2px black;
    border-radius: 25px;
    height: 50px;
    width: 100%;
    padding-left: 2%;
    font-size: 18px;
}

.textInput:focus {
    border: solid 2px #00FAA8;
}

.postButton {
    background-color: #00FAA8;
    border: solid 2px black;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}