<div class="loginCadastroContainer">
    <div class="loginContainer" *ngIf="cadastroFlag === false">
        <form (ngSubmit)="login()" class="loginForm">
            <h1 class="title">Acesse sua conta da WorkPro!</h1>
            <div class="loginInputs">
                <input class="defaultInput" type="email" placeholder="Email" id="emailLogin" required [(ngModel)]="loginUser.email" name="emailLogin">
                <div style="display: flex; align-items: center;">
                    <input class="defaultInput icon-input" type="{{ mostrarSenha ? 'text' : 'password' }}" placeholder="Senha" id="passwordLogin" required [(ngModel)]="loginUser.password" name="passwordLogin">
                    <span class="input-group-text" style="margin-left: 1%;">
                        <i class="bi bi-{{ mostrarSenha ? 'eye' : 'eye-slash' }}" (click)="toggleMostrarSenha()"></i>
                    </span>
                </div>
            </div>
            <button type="submit" class="createButton">Acessar conta</button>
            <p class="createAccount">Não possui conta? <a (click)="inverteFlag()">Cadastre-se aqui!</a></p>
        </form>
    </div>
    <div class="cadastroContainer" *ngIf="cadastroFlag === true">
        <div class="cadastroForm">
            <i class="bi bi-arrow-90deg-left" (click)="inverteFlag()" style="position: absolute; top: 10%; left: 10%;"></i>
            <form (ngSubmit)="onSubmit()">
                <h1 class="title">Crie hoje sua conta na WorkPro!</h1>
                <div class="cadastroInputs">
                    <div class="nomeSobrenome">
                        <input class="smallInput" type="text" placeholder="Nome" id="firstName" [(ngModel)]="user.firstName" name="lastName">
                        <input class="smallInput" type="text" placeholder="Sobrenome" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
                    </div>
                    <input class="defaultInput" type="email" placeholder="Email" id="email" required [(ngModel)]="user.email" name="email">
                    <div style="display: flex; align-items: center;">
                        <input class="defaultInput" type="{{ mostrarSenha ? 'text' : 'password' }}" placeholder="Senha" id="password" required [(ngModel)]="user.password" name="password">
                        <span class="input-group-text" style="margin-left: 1%;">
                            <i class="bi bi-{{ mostrarSenha ? 'eye' : 'eye-slash' }}" (click)="toggleMostrarSenha()"></i>
                        </span>
                    </div>
                </div>
                <button type="submit" class="createButton">Criar conta</button>
            </form>
        </div>
        <img class="cadastroImage" src="../../../assets/business_man_red.jpg" alt="">
    </div>
</div>
