<div class="postContainer">
    <div class="userInfo">
        <img class="profilePic" src="../../../assets/default_profile_image.png" alt="">
        <p class="username">Username Username</p>
    </div>
    <p class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Nec nam aliquam sem et tortor consequat id porta. Ultricies lacus sed turpis tincidunt id aliquet risus. Ultricies mi eget mauris pharetra et ultrices neque. Enim nunc faucibus a pellentesque sit amet porttitor eget. Quis risus sed vulputate odio. Purus gravida quis blandit turpis cursus in hac habitasse. Vitae auctor eu augue ut. Id leo in vitae turpis massa sed elementum.</p>
    <p class="datetime">19 de Novembro de 2023, 19:29</p>
</div>
