<mat-sidenav-container class="main-container">
  <mat-sidenav-content class="menu mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">Pedro Costa<br>
      <p class="designation">Software Engineer</p>
    </h4>

    <mat-divider></mat-divider>

    <img
      class="avatar mat-elevation-z8"
      src="https://avatars.githubusercontent.com/u/112345359?v=4"
    />

    <h4 class="name">Lucas Melo<br>
      <p class="designation">Front-end Developer</p>
    </h4>

    <mat-divider></mat-divider>

    <img
      class="avatar mat-elevation-z8"
      src="../../../assets/lins.jpg"
    />

    <h4 class="name">Lucas Lins<br>
      <p class="designation">Índio</p>
    </h4>
  </mat-sidenav-content>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
